Repository lucasgio/lumiapi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, markdownlint

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint",
    "prettier --write",
    "git add"
  ],
  "src/**/*.md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "*.json": [
    "prettier --write",
    "git add"
  ]
}

Add: precommit scriptclear
  .husky/pre-commit
Due: none

Fix:precommit script
  .husky/pre-commit
Due: none

Fix: lint staged json
  .lintstagedrc.json
Due: prettier --write

feat: add development environment setup with Docker
  Dockerfile
  docker-compose.yml
Due: none

Fix:remove version Dockerfile
  docker-compose.yml
Due: none

style: format lint-staged config for better readability
  .eslintrc.json
Due: prettier --write

feat: add server setup and environment configuration
  .DS_Store
  .env.example
  .eslintrc.json
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier --write

feat: set up server with environment configuration
  src/app.ts
  src/config/app.ts
  src/routes/routes.ts
  src/server.ts
Due: eslint, prettier --write

refactor: simplify docker configuration for dev environment
  docker-compose.yml
Due: none

fix: standardize formatting and improve dotenv usage
  src/app.ts
  src/config/app.ts
Due: eslint, prettier --write

test: add unit and integration tests for server
  __test__/Units/server.test.ts
  babel.config.js
  jest.config.js
  package.json
  src/server.ts
  yarn.lock
Due: eslint, prettier --write

fix: update project name to reflect new branding
  package-lock.json
  package.json
Due: prettier --write

feat: add error handling and custom exceptions
  .husky/pre-commit
  .lintstagedrc.json
  __test__/Units/errorHandler.test.ts
  __test__/Units/server.test.ts
  package.json
  src/common/exceptions/BadRequestException.ts
  src/common/exceptions/ForbiddenRequestException.ts
  src/common/exceptions/NotFoundRequestException.ts
  src/common/exceptions/README.md
  src/common/exceptions/UnauthorizedRequestException.ts
  src/config/app.ts
  src/middleware/errorHandler.ts
  src/routes/routes.ts
  src/server.ts
  src/utils/CustomException.ts
  src/utils/LoggerHelper.ts
  yarn.lock
Due: eslint, prettier --write, markdownlint

feat: add basic server setup with error handling
  templates/src/app.ts
  templates/src/common/exceptions/BadRequestException.ts
  templates/src/common/exceptions/ForbiddenRequestException.ts
  templates/src/common/exceptions/NotFoundRequestException.ts
  templates/src/common/exceptions/README.md
  templates/src/common/exceptions/UnauthorizedRequestException.ts
  templates/src/config/app.ts
  templates/src/middleware/errorHandler.ts
  templates/src/routes/routes.ts
  templates/src/server.ts
  templates/src/utils/CustomException.ts
  templates/src/utils/LoggerHelper.ts
Due: none

feat: add project setup script and templates
  index.mjs
  package-lock.json
  package.json
  templates/.env.example
  templates/.eslintrc.js
  templates/.gitignore
  templates/.prettierrc.json
  templates/Dockerfile
  templates/docker-compose.yml
  templates/jest.config.js
  templates/package.json
  templates/tsconfig.json
  yarn.lock
Due: prettier --write

feat: rename project to Turboapi and update configuration
  .npmignore
  @turboapi/core/.env.example
  @turboapi/core/.eslintrc.js
  @turboapi/core/.gitignore
  @turboapi/core/.prettierrc.json
  @turboapi/core/Dockerfile
  @turboapi/core/docker-compose.yml
  @turboapi/core/jest.config.js
  @turboapi/core/package.json
  @turboapi/core/src/app.ts
  @turboapi/core/src/common/exceptions/BadRequestException.ts
  @turboapi/core/src/common/exceptions/ForbiddenRequestException.ts
  @turboapi/core/src/common/exceptions/NotFoundRequestException.ts
  @turboapi/core/src/common/exceptions/README.md
  @turboapi/core/src/common/exceptions/UnauthorizedRequestException.ts
  @turboapi/core/src/config/app.ts
  @turboapi/core/src/middleware/errorHandler.ts
  @turboapi/core/src/routes/routes.ts
  @turboapi/core/src/server.ts
  @turboapi/core/src/utils/CustomException.ts
  @turboapi/core/src/utils/LoggerHelper.ts
  @turboapi/core/tsconfig.json
  index.mjs
  package.json
Due: prettier --write

feat: add TurboAPI installer script
  index.js
  index.mjs
  package.json
  yarn.lock
Due: prettier --write

refactor: change package name for clarity
  package.json
Due: prettier --write

feat: rename TurboAPI to LumiAPI and update references
  .npmignore
  @lumiapi/core/.env.example
  @lumiapi/core/.eslintrc.js
  @lumiapi/core/.gitignore
  @lumiapi/core/.prettierrc.json
  @lumiapi/core/Dockerfile
  @lumiapi/core/docker-compose.yml
  @lumiapi/core/jest.config.js
  @lumiapi/core/package.json
  @lumiapi/core/src/app.ts
  @lumiapi/core/src/common/exceptions/BadRequestException.ts
  @lumiapi/core/src/common/exceptions/ForbiddenRequestException.ts
  @lumiapi/core/src/common/exceptions/NotFoundRequestException.ts
  @lumiapi/core/src/common/exceptions/README.md
  @lumiapi/core/src/common/exceptions/UnauthorizedRequestException.ts
  @lumiapi/core/src/config/app.ts
  @lumiapi/core/src/middleware/errorHandler.ts
  @lumiapi/core/src/routes/routes.ts
  @lumiapi/core/src/server.ts
  @lumiapi/core/src/utils/CustomException.ts
  @lumiapi/core/src/utils/LoggerHelper.ts
  @lumiapi/core/tsconfig.json
  index.mjs
  package.json
Due: prettier --write

feat: add README for Lumiapi framework
  README.md
Due: none

fix: update version to 1.0.1 in package.json
  package.json
Due: prettier --write

feat: update linting and formatting configurations
  .lintstagedrc.json
  .prettierrc
  .prettierrc.json
  eslint.config.json
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier --write

chore: add changelog and configure linting tools
  CHANGELOG.md
  package.json
Due: prettier --write

feat: update README for clarity and detail
  CHANGELOG.md
  README.md
Due: none

chore: update version and changelog for release 0.0.4
  CHANGELOG.md
  package.json
Due: prettier --write
